
section .flex-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
section .flex-container .item{
      width:16%;
      padding: 10px;
      margin: 7px;
    }
section .flex-container .item img {
      width:100%;
    }
section .flex-container .item a {
      margin-top: 10px;
      margin-left: 70px;
    }
